/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.column {
  padding: 10px;
  width: 18%;
}

.column h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}
